[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "glad"]
	path = glad
	url = https://github.com/Dav1dde/glad
[submodule "GLHelper"]
	path = GLHelper
	url = https://github.com/Brady-Brandt/GLHelper
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
